# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.pem

# Node / Frontend
node_modules/
dist/
*.pkg
*.exe

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite / Local DB
*.sqlite3
*.db

# IDE
.vscode/
.idea/
